html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
.chat-window { background: #DDD; }
.video-window { background: #AAA; }
.image-window { background: #777; }
#div4 { background: #444; }